/*==============================================================*/
/*                          Admin                               */
/*==============================================================*/
    #Admin{
        margin-right: 5em;
    }

    #Nav-admin{
        display: block;
    }
    
    #Paper{
        h1{
            margin-top: 1.5em;
            font-size: 4em;
            text-align: center;
            color: black;
        }
    }

    .paperAd{
        border: red solid thin;
        margin-top: 5em;
        img{
            width: 10em;
            height: 10em;
        }
    }











/*==============================================================*/