/*==============================================================*/
/*                          Admin                               */
/*==============================================================*/
    .headingA{
        background-color: $secondary-back-color;
        margin: 0;
        padding: 0;
        position: fixed;
        width: 100%;
        z-index: 1000;
        height: 6.5em;
        display: flex;
        top: 0;
        left: 0;

        a{
            width: 70%;
            margin: auto;
            .headImg{
                width: 100%;
                margin: auto;            
            }
        }

        p{
            text-decoration: none;
            margin: auto;
            a{
                text-decoration: none;
                color: black;
            }
        }


        .admin{
            
            a{
                text-decoration: none;
                color: black;
            }
        }
    }

    #Admin{
        margin-right: 1em;
    }

    #Logout{
        margin-right: 5em;
        width: 50em;
        height: 1.5em;
        a{
            text-decoration: none;
            color: black;
        }
    }

    #Nav-admin{
        display: block;
    }
    
    #PaperAd,#LogoAd,#PackAd{
        h1{
            display: inline-block;
            margin: 1.5em auto 1em 6.5em;
            font-size: 5em;
            text-align: center;
            color: black;
        }
    }

    .new{
        font-size: 2em;
        width: 4.2em;
        margin-left: 10em;
        display: inline-block;
        a{
            text-decoration: none;
            color: black;
        }
        
    }

    .paperAd{
        display: flex;
        border-bottom: $secondary-back-color solid thin;
        margin-top: 3em;
        margin: auto;
        .portAd{
            display: flex;
            margin: auto;
            img{
                width: 10em;
                height: 10em;
                margin: 1em 2em 2em 2em;
                border: 0.15em black solid;
            }
            .pInfo{
                display: inline-block;
                width: 35em;
                font-size: 2em;
                margin: 1em -8em 0 5em;
            }

            .status{
                height: 1.5em;
                width: 9em;
                margin: 0.65em -2em 0 -15em;
                font-size: 1.5em;

                .active{
                    color: darkgreen;
                } 

                .deactive{
                    color: red;
                }
            }

            .buttonsStat{
                margin: 3.9em 0 0 -14em;
                height: 2em;
                width: 16.3em;

                a{
                    display: inline-block;
                    color: green;
                    margin-top: 0.3em;
                    font-size: 1.25em;
                    text-decoration: none;
                    background-color: #EEEEEE;
                    padding: 0.13em 0.78em 0.13em 0.38em;
                    border-top: 0.06em solid #CCCCCC;
                    border-right: 0.06em solid #333333;
                    border-bottom: 0.06em solid #333333;
                    border-left: 0.06em solid #CCCCCC;
                }

                .deactiveBtn{
                    display: inline-block;
                    color: red;
                    margin-top: 0.3em;
                    font-size: 1.25em;
                    text-decoration: none;
                    background-color: #EEEEEE;
                    padding: 0.13em 0.78em 0.13em 0.38em;
                    border-top: 0.06em solid #CCCCCC;
                    border-right: 0.06em solid #333333;
                    border-bottom: 0.06em solid #333333;
                    border-left: 0.06em solid #CCCCCC;
                }
            }
        
            .buttonsEdit{
                width: 16.5em;
                height: 2em;
                margin: 6em 0 0 -15.3em;

                a{
                    display: block;
                    margin: 0.5em 0 0 -0.85em;
                    width: 9.8em;
                    font-size: 1.25em;
                    text-align: center;
                    text-decoration: none;
                    background-color: #EEEEEE;
                    color: #333333;
                    padding: 0.13em 0.55em 0.13em 0.38em;
                    border-top: 0.06em solid #CCCCCC;
                    border-right: 0.06em solid #333333;
                    border-bottom: 0.06em solid #333333;
                    border-left: 0.06em solid #CCCCCC;
                }
            }
        }
    }

    .loginForm{
        height: 26em;
        width: 22em;
        margin: 10em auto;
    }

    .label{
        width: 5.5em;
        font-size: 2.5em;
        margin: 1em 0 0 2.5em;
        display: inline-block;
    }

    .input{
        width: 22em;
        height: 2em;
        margin-top: 0.5em;
        display: inline-block;
    }

    .main-heading{
        h2{
            color: black;
            text-align: center;
            font-family: Agency FB;
            font-weight: normal;
            font-size: 3em;
            margin: -0.8em auto;
        }
    }

    #Login{
        height: 3em;
        margin: 2em 0 0 7.5em;
    }

    .createForm{
        margin-top: 6em;
    }

    .formAdmin{
        margin: auto;
    }

    .profile{
        width: 52em;
        margin: auto;
        font-size: 1.5em;
        .pro{
            margin: auto;
            h3{
                display: block;
                margin-left: 15em;
                text-align: center;
                width: 5em;       
            }
            
            h4{
                display: block;
                width: 15em;
                height: 1.64em;
                margin: -2.89em 0 0 23.5em;
                text-align: center;        
            }

            a{
                display: block;
                margin: 2em auto 1em auto;
                width: 9.8em;
                font-size: 1.25em;
                text-align: center;
                text-decoration: none;
                background-color: #EEEEEE;
                color: #333333;
                padding: 0.13em 0.55em 0.13em 0.38em;
                border-top: 0.06em solid #CCCCCC;
                border-right: 0.06em solid #333333;
                border-bottom: 0.06em solid #333333;
                border-left: 0.06em solid #CCCCCC;
            }
        }
    }

    .error{
        color: red;
        text-align: center;
        margin: 0 -1em 0 7em;
        font-size: 1.3em;
    }

    .desp{
        margin: 12em auto;
    }

    .headingF{
        background-color: $secondary-back-color;
        margin: 0;
        padding: 0;
        position: fixed;
        width: 100%;
        z-index: 1000;
        height: 6.5em;
        display: flex;
        top: 0;
        left: 0;


        p{
            text-decoration: none;
            margin: auto;
        }

        a{
            margin: auto;
            width: 85%;
            img{
                width: 100%;
                margin: auto;
            }
        }

        .admin{
            a{
                color: black;
                text-decoration: none;
                text-align: center;
                display: inline-block;
                margin: 3em 1em 0 0;
            }
        }
    }

    .form, .pure-form,.pure-form-aligned{
        margin: 0 -3em 0 -12em;
    }
/*==============================================================*/