@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    body{
        background-color: lightgray;
    }
}

@media only screen and (min-width: 55em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (min-width: 75em) {
    #bars{
        display: none;
    }
    nav{
        margin: 2em 4em 2em 4em;
        display: block;
        ul{
            display: flex;
                li{
                    margin:0 2.35em 0 2.5em;
//                    text-align: center;
                    flex: 1 1 content;
                }
        }
    }
}