@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    body{
        background-color: lightgray;
    }
}

@media only screen and (min-width: 55em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (min-width: 75em) {
    .heading{
       margin: 1em 0 1.5em 0;
        width: 100%;
        border: thin red solid;
        h1{
            margin-left: 16em;
            display: block;
        }
    }
    
    #Bars{
        display: none;
    }
    
    nav{
        display: block;
        position: fixed;
        z-index: 1000;
        top: 50;
        right: 50;
        margin-left: 2em''
        ul{
            display: flex;
                li{
                    margin:0 2em 0 2em;
                    flex: 1 1 content;
                }
        }
    }
    
    section{
        padding-top: 15em;
    }
}