.heading{
    h1{
        color: black;
        text-align: center;
        font-family: Agency FB;
        font-weight: normal;
    }
}

nav{
    font-family: Agency FB;
    font-weight: normal;
    font-size: 2em;
}
