.heading{
    background-color: $secondary-back-color;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 6.5em;
    display: flex;
    top: 0;
    left: 0;
    
    h1{
        margin: auto;
        flex: 1 1 content;
        align-content: center;
    }
    
    p{
        margin-right: 1em;
    }
    
    img{
        width: 5em;
        height: 5em;
        margin-top: 1em;
        margin-left: 1em;
    }
}



#Nav{
    width: 100%;
    display: none;
    margin-top: 3.26em;
//    background-color: $secondary-back-color;
    
    a{
            text-decoration: none;
    }
    
    a:hover{
        text-decoration: underline;
    }
    
    ul{
        width: 100%;
        margin: 0;
        padding: 0;
        
        li{
            width: 100%;
            margin: auto;
            text-align: center;
        }
    }
    
    &.show{
        display: block;
    }
}

.linkUnderline{
    text-decoration: underline;
}