.heading{
    display: flex;
//    position: fixed;
//    top: 0;
//    margin: auto;
//    z-index: 1000000000;
    h1{
        margin: auto;
        flex: 1 1 content;
        align-content: center;
    }
}



nav{
    display: none;
    
    a{
            text-decoration: none;
    }
    
    a:hover{
        
    }
    
    ul{
        margin: 0;
        padding: 0;
        
        li{
            margin: auto;
            text-align: center;
        }
    }
}

.linkUnderline{
    text-decoration: underline;
}