.show{
    display: block;
}

.hide{
    display: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: $primary-back-color;
//    width: 100%;
    border: thin blue solid;
//    max-width: 100vw;
//    overflow-x:hidden;
}

section{
    padding-top: 5em;
    min-height: 60vh;
//    margin-top: 20em;
}

.image-slider{   
    flex: 1 1 100%;
	width: 18em;
	height: 15em;
	position: relative;
//    margin-top: 10em;
    margin: 0 auto 0 auto;
}

#Home{
//    margin-top: 8em;

}
.work{
    display: flex;
    p{
        flex: 1 1 auto;
        margin-left: 2em;
    }
}
.display{
    display: flex;
}

.paper,.logo,.packaging{
    flex: 1 0 100%;
//    border: thin red solid;
    width: 23.5em;
    img{
        width: 10em;
        height: 10em;
        margin-left: 1em;
        margin-bottom: 1em;
        border: 0.15em black solid;
    }
}

.dim{
   background-color: rgba(0,0,0,0.9);
}

.info{
    opacity: 1;
    border: thin black solid;
    background-color: $primary-back-color;
    img{
        width: 20em;
        height: 20em;
        margin-left: 1.5em;
        margin-top: 1.5em;
        border: none;
    }
}

.logo,.packaging{
    display: none;
}

.pic1,.pic2,.pic3,#Paperart,#Logo,#Pack{
    cursor: pointer;
}

.form{
   border: thin red solid;
    #Form{
//        border: thin blue solid;
        width: 23em;
        margin: auto;
        
        label{
//            border: thin green solid;
            // float: left;
            // clear:both;
            // display: inline-block;
        }
        
        input{
//            border: thin orange solid;
            width: 18em;
            height: 2em;
            margin-bottom: 1.2em;
            margin-left: 1em;
            float:left;
        }
        
        #Email{
            margin-left: 2.75em;
        }
        
        #Subject{
            margin-left: 2.5em;
        }
        
        #Message{
            width: 17.8em;
            margin-left: 2em;
        }
        
        #Send{
            height: 3em;
            margin: 1em 0 0 12em;
        }
    }
}
