.image-shown
{
	display: inline-block;
}

.image-hidden
{
	display: none;
}

.carousel-inner
{
	width: 500px;
	height: 400px;
	position: relative;
	float: left;
}

.carousel-inner img
{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.previousLink, .nextLink
{
	float:left;
	margin-top: 170px;
}

.previousLink
{
	margin-right: 20px;
}

.nextLink
{
	margin-left: 20px;
}