@charset "UTF-8";
/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
li {
  list-style: none; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*=======================================================*/
/*                    Font                               */
/*=======================================================*/
h1 {
  color: black;
  text-align: center;
  font-family: Agency FB;
  font-weight: normal; }
  h1 a {
    text-decoration: none;
    color: black; }

.heading #Bars {
  font-family: Agency FB;
  font-weight: normal;
  font-size: 2em; }

#Nav {
  font-family: Agency FB;
  font-weight: normal;
  font-size: 2em; }
  #Nav a {
    color: black; }

#Home h1, #Portfolio h1, #About h1, #Contact h1, #Other h1 {
  color: black;
  text-align: center;
  font-family: Agency FB;
  font-weight: normal;
  font-size: 2.5em;
  margin-top: 1em; }

.work p {
  color: black;
  font-family: Agency FB;
  font-weight: normal;
  font-size: 1.4em; }

.paper p, .logo p, .packaging p {
  color: black;
  text-align: center;
  font-family: Agency FB;
  font-weight: normal;
  font-size: 2em; }

#About p {
  color: black;
  font-family: Agency FB;
  font-weight: normal;
  font-size: 1.15em;
  text-align: left; }

.info p {
  color: black;
  font-family: Agency FB;
  font-weight: normal;
  font-size: 1.3em;
  text-align: left; }

footer p {
  color: black;
  text-align: center;
  font-family: Agency FB;
  font-weight: normal;
  font-size: 1.4em; }

#Form {
  color: black;
  font-size: 1em; }
  #Form #Send {
    font-size: 1.5em; }

/*=======================================================*/
.heading {
  background-color: #6E6E6E;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 6.5em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0; }
  .heading h1 {
    margin: auto;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .heading p {
    text-decoration: none;
    margin: auto; }
  .heading img {
    width: 80%;
    margin: auto; }
  .heading .admin a {
    color: black;
    text-decoration: none; }

#Nav {
  width: 100%;
  display: none;
  margin-top: 3.26em; }
  #Nav a {
    text-decoration: none; }
  #Nav a:hover {
    text-decoration: underline; }
  #Nav ul {
    margin: 0;
    padding: 0; }
    #Nav ul li {
      margin: auto;
      text-align: center; }
  #Nav.show {
    display: block; }
  #Nav.hide {
    display: none; }

.linkUnderline {
  text-decoration: underline; }

.show {
  display: block; }

.hide {
  display: none; }

body {
  margin: 0;
  padding: 0;
  background-color: #9E9E9E;
  font-family: Agency FB;
  font-weight: normal; }

.container {
  width: 100%; }

.img-slider {
  margin-left: 6.5em;
  width: 20.5em; }

section {
  padding-top: 5em;
  min-height: 60vh; }

.image-slider a img {
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  width: 18.5em;
  height: 15em;
  margin: 0 1em 0 -0.7em; }

.work {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .work p {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 2em; }

.display {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.imgContainer {
  margin: auto;
  width: 28em; }

.paper, .logo, .packaging {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 18em; }
  .paper img, .logo img, .packaging img {
    width: 8.5em;
    height: 8.5em;
    margin: 1em 2.5em 1em 2.5em;
    border: 0.15em black solid; }

.dim {
  background-color: rgba(0, 0, 0, 0.9); }

.desp {
  opacity: 1;
  height: auto;
  width: 26em;
  margin: auto;
  background-color: #9E9E9E; }
  .desp p {
    width: 16em;
    margin-left: 2em; }
  .desp img {
    width: 17em;
    height: 17em;
    margin: 1.5em 4.8em 1.5em 4.8em;
    border: 0.15em black solid; }
  .desp .cls {
    position: relative;
    width: 5em;
    margin: 1em 0 0 15em; }
  .desp a {
    text-decoration: none;
    color: black; }

.logo, .packaging {
  display: none; }

.pic1, .pic2, .pic3, #Paperart, #Logo, #Pack, .cls, #Send {
  cursor: pointer; }

#About p {
  width: 19.5em;
  margin: auto; }

.form #Form {
  width: 20.5em;
  margin: auto; }
  .form #Form label {
    width: 4.8em;
    display: inline-block; }
  .form #Form input {
    width: 15em;
    height: 2em;
    margin-top: -2em 0 0 6em;
    display: inline-block; }
  .form #Form #Email {
    margin-left: 2.75em; }
  .form #Form #Subject {
    margin-left: 2.5em; }
  .form #Form #Message {
    margin-top: -1.2em 0 0 6em;
    width: 15em; }
  .form #Form #Send {
    height: 3em;
    width: 50%;
    margin: 1em 0 1em 4.5em;
    background-color: #9E9E9E;
    border: none; }

.pagination {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .pagination li {
    margin-left: 2em; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin: -10px -54px 0 0;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -20px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: '←'; }

[dir='rtl'] .slick-prev:before {
  content: '→'; }

.slick-next {
  right: 10px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: 1.56em; }

.slick-next:before {
  content: '→'; }

[dir='rtl'] .slick-next:before {
  content: '←'; }

/* Dots */
.slick-slider {
  height: 100%;
  width: 320px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  left: 15px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .80;
  color: black; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  height: 320px;
  width: 320px;
  margin-left: 15px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  margin-left: -15px;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide {
  display: block; }

.slick-slide.slick-loading {
  display: none;
  margin-left: 16px; }

.slick-slide.dragging {
  pointer-events: none;
  margin-left: 16px; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*==============================================================*/
/*                          Admin                               */
/*==============================================================*/
#Admin {
  margin-right: 1em; }

#Logout {
  margin-right: 5em;
  width: 50em;
  height: 1.5em; }
  #Logout a {
    text-decoration: none;
    color: black; }

#Nav-admin {
  display: block; }

#PaperAd h1, #LogoAd h1, #PackAd h1 {
  display: inline-block;
  margin: 1.5em auto 1em 6.5em;
  font-size: 5em;
  text-align: center;
  color: black; }

.new {
  font-size: 2em;
  width: 4.2em;
  margin-left: 10em;
  display: inline-block; }
  .new a {
    text-decoration: none;
    color: black; }

.paperAd {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: #6E6E6E solid thin;
  margin-top: 3em;
  margin: auto; }
  .paperAd .portAd {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto; }
    .paperAd .portAd img {
      width: 10em;
      height: 10em;
      margin: 1em 2em 2em 2em;
      border: 0.15em black solid; }
    .paperAd .portAd .pInfo {
      display: inline-block;
      width: 35em;
      font-size: 2em;
      margin: 1em -8em 0 5em; }
    .paperAd .portAd .status {
      height: 1.5em;
      width: 9em;
      margin: 0.65em -2em 0 -15em;
      font-size: 1.5em; }
      .paperAd .portAd .status .active {
        color: darkgreen; }
      .paperAd .portAd .status .deactive {
        color: red; }
    .paperAd .portAd .buttonsStat {
      margin: 3.9em 0 0 -14em;
      height: 2em;
      width: 16.3em; }
      .paperAd .portAd .buttonsStat a {
        display: inline-block;
        color: green;
        margin-top: 0.3em;
        font-size: 1.25em;
        text-decoration: none;
        background-color: #EEEEEE;
        padding: 0.13em 0.78em 0.13em 0.38em;
        border-top: 0.06em solid #CCCCCC;
        border-right: 0.06em solid #333333;
        border-bottom: 0.06em solid #333333;
        border-left: 0.06em solid #CCCCCC; }
      .paperAd .portAd .buttonsStat .deactiveBtn {
        display: inline-block;
        color: red;
        margin-top: 0.3em;
        font-size: 1.25em;
        text-decoration: none;
        background-color: #EEEEEE;
        padding: 0.13em 0.78em 0.13em 0.38em;
        border-top: 0.06em solid #CCCCCC;
        border-right: 0.06em solid #333333;
        border-bottom: 0.06em solid #333333;
        border-left: 0.06em solid #CCCCCC; }
    .paperAd .portAd .buttonsEdit {
      width: 16.5em;
      height: 2em;
      margin: 6em 0 0 -15.3em; }
      .paperAd .portAd .buttonsEdit a {
        display: block;
        margin: 0.5em 0 0 -0.85em;
        width: 9.8em;
        font-size: 1.25em;
        text-align: center;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 0.13em 0.55em 0.13em 0.38em;
        border-top: 0.06em solid #CCCCCC;
        border-right: 0.06em solid #333333;
        border-bottom: 0.06em solid #333333;
        border-left: 0.06em solid #CCCCCC; }

.loginForm {
  height: 26em;
  width: 22em;
  margin: 10em auto; }

.label {
  width: 5.5em;
  font-size: 2.5em;
  margin: 1em 0 0 2.5em;
  display: inline-block; }

.input {
  width: 22em;
  height: 2em;
  margin-top: 0.5em;
  display: inline-block; }

.main-heading h2 {
  color: black;
  text-align: center;
  font-family: Agency FB;
  font-weight: normal;
  font-size: 3em;
  margin: -0.8em auto; }

#Login {
  height: 3em;
  margin: 2em 0 0 7.5em; }

.createForm {
  margin-top: 6em; }

.formAdmin {
  margin: auto; }

.profile {
  margin: auto;
  font-size: 1.5em; }
  .profile .pro {
    margin: auto; }
    .profile .pro h3 {
      display: block;
      margin-left: 15em;
      text-align: center;
      width: 5em; }
    .profile .pro #EmailUs {
      margin-left: 14.16em; }
    .profile .pro h4 {
      display: block;
      width: 15em;
      height: 1.64em;
      margin: -2.89em 0 0 23.5em;
      text-align: center; }
    .profile .pro #EmailU {
      margin-left: 26.8em; }
    .profile .pro a {
      display: block;
      margin: 2em auto 1em auto;
      width: 9.8em;
      font-size: 1.25em;
      text-align: center;
      text-decoration: none;
      background-color: #EEEEEE;
      color: #333333;
      padding: 0.13em 0.55em 0.13em 0.38em;
      border-top: 0.06em solid #CCCCCC;
      border-right: 0.06em solid #333333;
      border-bottom: 0.06em solid #333333;
      border-left: 0.06em solid #CCCCCC; }

.error {
  color: red;
  text-align: center;
  margin: 0 -1em 0 7em;
  font-size: 1.3em; }

.desp {
  margin: 12em auto; }

.headingF {
  background-color: #6E6E6E;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 6.5em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0; }
  .headingF p {
    text-decoration: none;
    margin: auto; }
  .headingF a {
    margin: auto;
    width: 85%; }
    .headingF a img {
      width: 100%;
      margin: auto; }
  .headingF .admin a {
    color: black;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 3em 1em 0 0; }

.form, .pure-form, .pure-form-aligned {
  margin: 0 -3em 0 -12em; }

/*==============================================================*/
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  .container {
    width: 100%;
    overflow: hidden; }
  .heading {
    background-color: #6E6E6E;
    height: 10.5em;
    width: 100%;
    z-index: 1000; }
    .heading a {
      margin: auto;
      width: 75%; }
      .heading a .headImg {
        width: 100%;
        margin: auto; }
    .heading .admin a {
      color: black;
      font-size: 1.5em;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      margin: 3.5em 0 0 0; }
    .heading #Bars {
      font-size: 3em; }
  section {
    padding-top: 12em; }
  #Nav {
    margin: auto;
    margin-top: 5.5em; }
    #Nav li {
      font-size: 1.5em; }
  #Home h1, #Portfolio h1, #About h1, #Contact h1, #Other h1 {
    font-size: 4em;
    margin: auto; }
  .img-slider {
    margin: auto;
    width: 28em;
    height: 28em; }
  .image-slider a img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto; }
  .slick-slide {
    display: none;
    float: left;
    margin-left: 0;
    height: 100%;
    min-height: 1px; }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    height: 100%;
    width: 100%;
    margin-left: 2px; }
  .slick-prev,
  .slick-next {
    margin: 0 -60px 0 -50px; }
  .slick-prev:before,
  .slick-next:before {
    font-size: 40px;
    line-height: 0; }
  .info, .desp {
    width: 40em; }
    .info p, .desp p {
      font-size: 1.7em;
      width: 22em;
      margin-left: 1.5em; }
    .info img, .desp img {
      width: 18em;
      height: 18em;
      margin: 1.5em 11em 1.5em 11em; }
    .info .cls, .desp .cls {
      width: 5em;
      margin: 2em 0 0 18.5em; }
  .work p {
    color: black;
    font-family: Agency FB;
    font-weight: normal;
    font-size: 2.5em;
    margin-bottom: 1em; }
  .imgContainer {
    width: 34.5em;
    margin: auto; }
  .paper, .logo, .packaging {
    width: 25em; }
    .paper p, .logo p, .packaging p {
      color: black;
      text-align: center;
      font-family: Agency FB;
      font-weight: normal;
      font-size: 3.5em;
      margin-top: 1em; }
    .paper img, .logo img, .packaging img {
      width: 15em;
      height: 15em;
      margin: 1em 0.5em 1em 1em;
      border: 0.15em black solid; }
  #About p {
    font-size: 1.8em;
    width: 20em;
    margin: auto;
    text-align: justify; }
  .form #Form {
    width: 32em;
    font-size: 1.35em;
    margin: auto; }
    .form #Form label {
      width: 8em;
      margin-top: 2em 0 0 -0.5em;
      text-align: center; }
    .form #Form input {
      width: 60%;
      margin-top: 2.5em 0 0 -2em; }
    .form #Form #Email {
      margin-left: 2.75em; }
    .form #Form #Subject {
      margin-left: 2.5em; }
    .form #Form #Message {
      width: 60%;
      margin-top: 2.5em 0 0 -2em; }
    .form #Form #Send {
      height: 2em;
      width: 50%;
      margin-top: 1em 0 1em 5em;
      font-size: 1.8em;
      text-align: center;
      border-radius: 1em; }
  footer p {
    font-size: 1.5em; } }

/*==========================================================================================*/
/*                             Second Breakpoint                                            */
/*==========================================================================================*/
@media only screen and (min-width: 55em) {
  .heading {
    height: 11em; }
    .heading a {
      margin: auto;
      width: 75%; }
      .heading a .headImg {
        width: 100%;
        margin: auto; }
    .heading .admin a {
      color: black;
      font-size: 2em;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      margin: 1.5em 1em 0 0; }
  #Bars {
    display: none; }
  #Nav {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    margin-top: 5.2em;
    background-color: #6E6E6E; }
    #Nav ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    #Nav li {
      font-size: 1.5em;
      text-align: center; }
  section {
    padding-top: 7em; }
  #Home h1, #Portfolio h1, #About h1, #Contact h1, #Other h1 {
    font-size: 4em;
    margin: auto;
    margin-top: 2em;
    text-align: center; }
  .img-slider {
    margin: auto;
    width: 30em;
    height: 30em; }
  .image-slider {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto; }
  .slick-slide {
    display: none;
    float: left;
    margin-left: -0.1em;
    width: 100%;
    height: 100%;
    min-height: 1px; }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    height: 100%;
    width: 100%;
    margin-left: 2px; }
  .slick-prev,
  .slick-next {
    margin: 0 -60px 0 -50px; }
  .slick-prev:before,
  .slick-next:before {
    font-size: 40px;
    line-height: 0; }
  .desp {
    height: auto;
    width: 50em; }
    .desp p {
      font-size: 1.8em;
      width: 22em;
      margin: auto;
      text-align: left;
      font-family: Agency FB;
      font-weight: normal; }
    .desp img {
      width: 25em;
      height: 25em;
      margin: 1.5em 0 1.5em 13em; }
    .desp .cls {
      width: 4.5em;
      margin: 0.5em 0 0 23em; }
  .work {
    margin-left: 6em; }
    .work p {
      color: black;
      font-family: Agency FB;
      font-weight: normal;
      font-size: 2.5em;
      margin-bottom: 1em; }
  .imgContainer {
    width: 50em;
    margin: auto; }
  .paper p, .logo p, .packaging p {
    color: black;
    text-align: center;
    font-family: Agency FB;
    font-weight: normal;
    font-size: 3.5em;
    margin-top: 1em; }
  .paper img, .logo img, .packaging img {
    width: 20em;
    height: 20em;
    margin: 1em 1.5em 1em 2.5em;
    border: 0.15em black solid; }
  #About p {
    font-size: 1.8em;
    width: 25em;
    margin: auto; }
  .form #Form {
    width: 38em;
    margin: auto; }
    .form #Form label {
      width: 8em;
      margin: 1.3em 0 0 1em;
      display: inline-block; }
    .form #Form input {
      width: 25em;
      margin: 1.8em 0 0 1.5em;
      display: inline-block; }
    .form #Form #Email {
      margin-left: 2.75em; }
    .form #Form #Subject {
      margin-left: 2.5em; }
    .form #Form #Message {
      width: 25em;
      margin: 1.5em 0 0 0em; }
    .form #Form #Send {
      height: 3em;
      width: 50%;
      margin-left: 6.5em;
      font-size: 2em;
      text-align: center; }
  footer p {
    font-size: 2em; } }

/*==========================================================================================*/
@media only screen and (min-width: 75em) {
  .heading {
    margin: 0 0 1em 0;
    width: 100%;
    height: 10.5em; }
    .heading a {
      margin: auto;
      width: 85%; }
      .heading a .headImg {
        width: 100%;
        margin: auto; }
    .heading .admin a {
      color: black;
      font-size: 3em;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      margin: 0.5em 1em 0 0; }
  #Bars {
    display: none; }
  #Nav {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #6E6E6E;
    width: 100%; }
    #Nav ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      #Nav ul li {
        width: auto;
        text-align: center;
        -webkit-flex: 1 1 content;
        -ms-flex: 1 1 content;
        flex: 1 1 content; }
  .adminNav {
    margin-top: 4em; }
  section {
    padding-top: 10em; }
  #Forms {
    padding-top: 13em; }
  .pagination {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 2em 0 0 7.9em;
    font-size: 1.5em; }
    .pagination li {
      margin-left: 2em; }
  .headingF {
    background-color: #6E6E6E;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 10.5em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0; }
    .headingF p {
      text-decoration: none;
      margin: auto; }
    .headingF a {
      margin: auto;
      width: 85%; }
      .headingF a img {
        width: 100%;
        margin: auto; }
    .headingF .admin a {
      color: black;
      text-decoration: none;
      font-size: 2em;
      text-align: center;
      display: inline-block;
      margin: 0 1em 0 0; }
  .headingA {
    background-color: #6E6E6E;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 10.5em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0; }
    .headingA p {
      text-decoration: none;
      color: black;
      text-decoration: none;
      font-size: 2.5em;
      text-align: center;
      margin: 1em -1em 0 0em; }
      .headingA p a {
        text-decoration: none;
        color: black; }
    .headingA a {
      margin: auto;
      width: 80%; }
      .headingA a img {
        width: 100%;
        margin: auto; }
    .headingA .admin a {
      color: black;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      margin: 0 2em 0 1em; }
  .main-heading h2 {
    color: black;
    text-align: center;
    font-family: Agency FB;
    font-weight: normal;
    font-size: 5em;
    margin: auto;
    margin-top: -1.5em 0 1em 0; }
  label {
    font-size: 1.2em; }
  .form #Form label {
    font-size: 1.3em;
    margin-top: 0.5em; }
  .form #Form input {
    width: 25em;
    margin: 1em 0 0 0em;
    display: inline-block; }
  .form #Form #Message {
    margin: 1.2em 0 0 0em; }
  .form #Form .description {
    width: 26em;
    min-height: 5em;
    margin: -1.2em 0 0 12em; } }

/*# sourceMappingURL=styles.css.map */
